body{
margin:0;}
  .first{
  background-image:url("hero.jpg");
  }

      .card-deck{
      padding:50px;
     }

     .first{
     background:}

      #item-name{
      vertical-align: baseline;}



    .two{
    background-color:red;}


    .fourth{
    background:grey;
    margin:0;
    }

  #footer{
  background:grey;
  color:white;
  margin:0;
  }

  .second{
  background:#feedde;
 }




  #footerf{
  color:white;
  background:#636363;
  height:40px;
  vertical-align: middle;}

  .card{
  background:#bdbdbd;}


  #about-us{
  background:url(assets/products/pants.png);
  }


  #btn{
  float: right;
  vertical-align: justify;
  background-color:#a63603;}

  #second{
  padding:40px;
  vertical-align:middle;}

  .man{
 h2:before,
h2:after {
    content: '';
    border-top: 2px solid;


  }

